<!-- TODO: reemplazar por button group de Bootstrap -->
<nav class="pagination-container">
  @if(totalPages > 1){
    <ul class="pagination-list">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <button (click)="selectPage(currentPage - 1)" [disabled]="currentPage === 1">
          &laquo;
        </button>
      </li>
      @for(page of pages; track page){
          <li class="page-item">
            <button 
              (click)="selectPage(page)"
              [class.active]="page === currentPage">
              {{ page }}
            </button>
          </li>
      }
      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <button (click)="selectPage(currentPage + 1)" [disabled]="currentPage === totalPages">
          &raquo;
        </button>
      </li>
    </ul>
  }
</nav>