.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.pagination-list {
  list-style: none;
  display: flex;
  gap: 5px;
  padding: 0;
}

.page-item {
  button {
    border: 1px solid #ddd;
    background-color: white;
    color: #333;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.2s;

    &:hover:not(:disabled) {
      background-color: #f0f0f0;
    }

    &.active {
      background-color: #007bff; /* Color primario (ej. azul) */
      color: white;
      border-color: #007bff;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}