  <!-- NAVBAR -->
  <nav class="navbar navbar-expand-lg navbar-dark main-navbar shadow-sm">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center" routerLink="/">
        <img src="img/UTP-logo.png" alt="UTP" class="logo-small"
          onerror="this.onerror=null; this.src='https://picsum.photos/60/60?random=99'">
        <div class="ms-2 brand-block">
          <div class="brand-title">UTP</div>
          <div class="brand-sub">Biblioteca Virtual</div>
        </div>
      </a>

      <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navMenu">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navMenu">
        <ul class="navbar-nav ms-auto align-items-lg-center">
          @if(esCliente() || !usuario()){
          <li class="nav-item"><a class="nav-link" routerLink="/">Índice</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="buscar">Búsqueda</a></li>
          }
          @if(esCliente()){
          <li class="nav-item"><a class="nav-link" routerLink="cliente/mis-reservas"><i class="fa-solid fa-bookmark"></i> Reservas</a></li>
          } @else if (esBibliotecario()){
            <li class="nav-item"><a class="nav-link" routerLink="bibliotecario">Dashboard</a></li>
          } @else if (esAdmin()){
            <li class="nav-item"><a class="nav-link" routerLink="admin">Dashboard</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="admin/usuarios">Usuarios</a></li>
          }
          @if(esBibliotecario() || esAdmin()){
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Mantenimiento
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="bibliotecario/libros">Libros</a></li>
              <li><a class="dropdown-item" routerLink="bibliotecario/editoriales">Editoriales</a></li>
              <li><a class="dropdown-item" routerLink="bibliotecario/autores">Autores</a></li>
              <li><a class="dropdown-item" routerLink="bibliotecario/comentarios">Comentarios</a></li>
            </ul>
          </li>
          <li class="nav-item"><a class="nav-link" routerLink="bibliotecario/prestamos">Préstamos</a></li>
          } @else {
            <li class="nav-item"><a class="nav-link" routerLink="acerca-de">Acerca de</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="contacto">Contacto</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="colecciones">Novedades</a></li>
          }
          @if(!usuario()){
          <li class="nav-item ms-3" id="nav-auth">
            <a class="btn btn-outline-light me-2" routerLink="login"><i class="fa-solid fa-right-to-bracket"></i> Iniciar sesión</a>
            <a class="btn btn-gold" routerLink="registro"><i class="fa-solid fa-user-plus"></i> Regístrate</a>
          </li>
          } @else {
            <li class="nav-item" id="nav-welcome">
              <strong class="nav-link welcome-text">Bienvenido {{usuario() ? usuario()?.nombres : "-"}}</strong>
            </li>
            <li>
              <button class="btn btn-outline-light btn-sm ms-2" (click)="logout()" title="Cerrar sesión"><i class="fa-solid fa-right-from-bracket"></i></button>
            </li>
          }

        </ul>
      </div>
    </div>
  </nav>